<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Julie's Personal API Site</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Under Construction</h1><hr>
          <h4><a href="/api">Read My API Documentation</a></h4>
          <br>
     <form class="form-inline" id="newTravelForm">
      <div class="form-group">
            <label for="city">City you'd like to go to</label>
            <input type="text" class="form-control" name="city" placeholder="i.e. Bangkok">
          </div>
          <div class="form-group">
            <label for="title">Country you'd like to go to</label>
            <input type="text" class="form-control" name="country" placeholder="i.e. Thailand">
          </div>

          <button type="submit" class="btn btn-default">Let's go there!</button>
        </form>
        <div id='travelTarget'>
          <!-- handlebars template -->
          <script id="travel-template" type="text/x-handlebars-template">
            {{#each traveledto}}
            <hr>
            <p>
              <b>{{city}}</b>
                 {{country.name}}
              <br>
              {{/each}}
              <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button>
            </p>
          </script>
          </div>
        </div>
    </div>
  </body>
</html>
